.avatar {
    width: 45%;
}

.personal-info {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #2b2839;
}

.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    padding: 18px 20px;
    width: 400px;
    background-color: rgb(192, 187, 161);
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    border-bottom: 6px solid rgb(238, 200, 131);
}

