body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #E50914;
}

h1 {
   color: white;
   font-size: 100px;
   text-align: center;
   text-shadow: 5px -6px 5px black;
}